<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Screenshot_20220529-1935112.png" alt="" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="nombre"><b>Martín Sesia</b> <br> Full Stack developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <span>
            <h1 class="acerca">Acerca de Mi</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Repellat optio eum quidem esse dicta, iure vel nihil nisi delectus totam obcaecati 
                enim asperiores sunt aliquam. Saepe nam sint ab optio.
            </p>
        </span>
    </div>
</div>
