img {
    width: 7em;
}

div {
    background-color: #191a1d;
    margin: 0px;
}

#logoig {
    width: 2em;
    float: right;
    margin: 10px;
    padding-top: 8px;
}

#logofb {
    width: 2em;
    float: right;
    margin: 10px;
    padding-top: 8px;
}

#logogit {
    width: 2em;
    float: right;
    margin: 10px;
    padding-top: 8px;
}

#banner {
    width: 1400px;
    height: 500px;
    margin-top: 50px;
    margin-left: 275px;
    border-radius: 90px;
    border: 2px dashed #727375 ;
}
