<div class="row">
    <h1>EXPERIENCIA LABORAL</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 conteiner">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h3>(years)</h3>
            </li>     
            <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur sequi expedita laborum 
                amet eligendi nostrum corporis, voluptatibus incidunt, 
                ullam quibusdam soluta hic fuga nobis iste maiores libero unde repellat commodi!</p>
        </ul>
    </div>
</div>

<div class="row">
    <h1 class="educ">EDUCACION</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 conteiner">
        <ul>
            <li>
                <h3>Estudio 1</h3> - <h3>(years)</h3>
            </li>     
            <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur sequi expedita laborum 
                amet eligendi nostrum corporis, voluptatibus incidunt, 
                ullam quibusdam soluta hic fuga nobis iste maiores libero unde repellat commodi!</p>
        </ul>
        <ul>
            <li>
                <h3>Estudio 2</h3> - <h3>(years)</h3>
            </li>     
            <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur sequi expedita laborum 
                amet eligendi nostrum corporis, voluptatibus incidunt, 
                ullam quibusdam soluta hic fuga nobis iste maiores libero unde repellat commodi!</p>
        </ul>
        <ul>
            <li>
                <h3>Estudio 3</h3> - <h3>(years)</h3>
            </li>     
            <p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur sequi expedita laborum 
                amet eligendi nostrum corporis, voluptatibus incidunt, 
                ullam quibusdam soluta hic fuga nobis iste maiores libero unde repellat commodi!</p>
        </ul>
    </div>
</div>
